<!DOCTYPE html>
{% if page.language %}
    {% assign language = page.language %}
{% else %}
    {% assign language = site.language %}
{% endif %}
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.no_title_expansion %}<title>{{ page.title }}</title>{% else %}<title>{{ page.title }} | {{ site.title }}</title>{% endif %}
    {% if page.description %}<meta name="description" content="{{page.description}}">{% else %}Missing page description{% endif %}
    <meta name="viewport" content="width=device-width">
    <base href="{{site.url}}{{site.baseurl}}/">
    <link rel="stylesheet" href="styles.css">
    {% if page.canonical %}<link rel="canonical" href="{{site.url}}{{site.baseurl}}/{{page.canonical}}">{% endif %}
</head>
<body>
<div class="body">
    <div class="header">
        <a class="logo" href="." title="Abenteuer Irland">
            <img src="img/logo-3.png" width="60" height="60" alt="">Abenteuer Irland
        </a>
        <div class="telBox">
            <p><a href="mailto:mok@abenteuer-irland.de">mok@abenteuer-irland.de</a></p>
            <p>+49 2871 3108999</p>
        </div>
        <div class="language">
            <span>
                <a href="{{page.translation_link}}">
                {% if page.language == 'de' %}
                    <img width="30" height="15" src="img/english-2.png" alt="English" />
                {% elsif page.language == 'en' %}
                    <img width="30" height="18" src="img/german-2.png" alt="Deutsch" />
                {% endif %}
                </a>
            </span>
        </div>
{% include nav.html %}
    </div>
